.main {
  height: 100vh;
}

.hire {
  padding: 10rem 5rem 2rem;
  text-align: center;

  &__title {
    font-size: 3.5rem;
    text-transform: capitalize;
  }

  &__methods {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    width: 60%;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;

    &--item {
      display: flex;
      align-items: center;

      span {
        margin-left: 0.5rem;
      }
    }
  }
}
