.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5rem;
  height: 8rem;

  &__logo {
    img {
      width: 100%;
      object-fit: fill;
    }
  }
}
