.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5rem;
  height: 8rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  &__actions {
    @media (max-width: 768px) {
      margin-bottom: 2rem;
    }
  }

  &__logo {
    @media (max-width: 768px) {
      margin-bottom: 2rem;
    }

    img {
      width: 100%;
      object-fit: fill;
    }
  }
}
