.footer__nav {
  width: 80%;

  @media (max-width: 1024px) {
    width: 100%;
  }
}

.footer__list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  list-style: none;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.footer__sub--List {
  list-style: none;
  width: 100%;
}

.footer__item {
  padding: 0.5rem 1.3rem;
  margin: 0.5rem;
  @media (max-width: 1024px) {
    margin: 0;
  }

  &--icon {
    display: flex;
  }

  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font: inherit;
    width: 100%;
    padding: 0.5rem;
    transition: all 0.35s;

    @media (min-width: 1024px) {
      padding: 0;
      margin: 0.5rem 0;
    }
  }
}

.footer__sub--item {
  border-bottom: 1px solid transparent;
  transition: all 0.35s;

  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    border-bottom: 1px solid #df0142;
  }
}

.footer__item--head {
  width: 20%;

  & > button {
    padding: 0.5rem 0;
    border-bottom: 1px solid #3d3d3d;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}
