.work__title {
  font-size: 3.5rem;
  text-transform: capitalize;
}

.work__methods {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;

  @media (max-width: 768px) {
    flex-direction: column;
    border-bottom: 1px solid transparent;
  }

  &--item {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 3rem 5rem;

    @media (max-width: 768px) {
      border-bottom: 1px solid #ccc;
      flex-direction: column;
    }

    &:first-child {
      border-bottom: 2px solid #fb1488;
    }

    span {
      margin-left: 1rem;

      @media (max-width: 768px) {
        margin: 0;
        margin-top: 1rem;
      }
    }
  }
}
