.hire__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 3rem;
  padding-right: 0;
  overflow: hidden;
  position: relative;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  &--left {
    position: relative;
    text-align: left;
    color: #fff;

    @media (max-width: 768px) {
      width: 100%;
      text-align: center;
    }

    h3 {
      font-size: 2.5rem;
      margin-bottom: 1rem;

      @media (max-width: 375px) {
        font-size: 2rem;
      }

      @media (max-width: 768px) {
        font-size: 1.75rem;
      }
    }

    p {
      font-size: 1.7rem;

      @media (max-width: 375px) {
        font-size: 1.5rem;
      }

      @media (max-width: 768px) {
        font-size: 1.3rem;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 110%;
      height: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background-size: contain;
      background-repeat: no-repeat;

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

  &--right {
    z-index: -2;

    img {
      object-fit: fill;
      width: 110%;

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}

.bg-blue {
  padding: 8rem;
  padding-top: 1rem;
  text-align: center;

  p {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
  }

  &::after {
    background-image: url("../../assets/bluebg.svg");
    background-position: center;
    background-size: 100%;
  }
}
.bg-orange {
  padding: 10rem;
  text-align: center;

  p {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
  }

  @media (max-width: 768px) {
    order: -1;
    padding: 5rem;
  }

  &::after {
    background-image: url("../../assets/bgorange.svg");
    background-position: center;
    background-size: contain;
  }
}
